
html {
  scroll-snap-type: y mandatory;
}


.app {
  height: 100vh;  /**/
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  border-radius: 20px;
  height: 800px;
  max-width: 500px;
  width: 80%;
  overflow: scroll;  /**/
  scroll-snap-type: y mandatory;
}

/*
  hide scroll bar for chrome, safair and opera
*/
.app__videos::-webkit-scrollbar{
  display: none;
}

.app__videos {
  -ms-overflow-style: none;  /* Hide scrooll bar for IE and Edge*/
  scrollbar-width: none;/* Hide scrooll bar firebox*/
}